body {
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.zoom {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .2s;
    transition: transform .2s;
}
​
.zoom:hover {
    -webkit-transform: scale(1.5);
    transform: scaleX(2);
}

span {
    width: 100%;
    text-align: center;
}

hr {
    background-color: aliceblue;
}